<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <hr />
            <h3>Game Control</h3>
            <button class="btn btn-success" (click)="startGame()">
                Start Game
            </button>
            <button class="btn btn-danger" (click)="stopGame()">
                Stop Game
            </button>
            <button class="btn btn-warning" (click)="resetGame()">
                Reset Game
            </button>
            <hr />
        </div>
    </div>
</div>
